@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Tangerine);
@import url(http://fonts.googleapis.com/css?family=Fjord+One);
@import url("http://fonts.googleapis.com/css?family=Pacifico");

/* 
    Document   : hb_styles
    Created on : Jun 21, 2013, 6:03:22 PM
    Author     : Mihon
    Description: Our custom styles

@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie); */

div#blockRigthOben{
    font-size: 14px;
    border-left-style: dashed;
    border-left-width: thin;
    padding-left: 20px;
    margin-left: 30px;
    border : 0;
}

ul#blockRigthBlack{
    font-size: 18px;
    padding-top: 60px;
    padding-left: 10px;
}
ul#blockRigthBlack h3{
    padding-bottom: 15px;
}

div#blockRigthOben h4{
    color: orange;
}

i.icon_right{
    padding-left: 8px;
}

p.no_li{
    line-height: 1.5em;
    font-size: 0.9em;
}

h4.infokasten_green{
    background:#E3FF4A; 
    display: inline; 
    line-height: 3;
    padding: 1px;
}

a.infokasten{
    color: #FFA500;
}

h4.infokasten:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 1s linear;
}

.super-hero-unit {
    position: relative;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    margin: auto 0;
}

ul.bycategories {
    margin: 0;
    padding: 0;
}
ul.bycategories li {
    list-style: none; 
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
ul.bycategories li a {
    list-style: none; 
    list-style-type: none;
    margin: 0 20px 15px 0; 
    float: left; 
    background: #eee; 
    color: #464646; 
    padding: 5px 10px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}
ul.bycategories li a:hover{
    text-decoration: none; 
    background: #ff6200; 
    color: #fff;
}
.clear{clear: both;}

Tagging cloud

.tagcloudbody {
width:800px;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
border:solid 1px #333333;
padding:5px;
text-align:justify;
}

.tagcloudbody a {
text-decoration:none;
color:#333366;
}

.tagcloudThema {
font-weight:bold;
font-size:16px;
margin-bottom: 10px;
}

.tag1 {
font-size:26px;
}
.tag2 {
font-size:16px;
}
.tag3 {
font-size:13px;
}
.tag4 {
font-size:20px;
}
.tag5 {
font-size:9px;
}

.img_100x100_custom_mb {
    width: 100px;
    height: 100px;
}

.img_78x78_custom_mb {
    width: 78px;
    height: 78px;
}

 

 
@media (max-width: 320px){
    .super {
        font-size: 16px;
    }
}
@media (min-width: 321px) and (max-width: 480px){
    .super {
        font-size: 24px;
    }
}
@media (min-width: 481px) and (max-width: 768px){
    .super {
        font-size: 34px;
    }
}
@media (min-width: 769px) and (max-width: 978px){
    .super {
        font-size: 46px;
    }
}
@media (min-width: 979px) and (max-width: 1200px){
    .super {
        font-size: 60px;
    }
}

 
a:hover {
    text-decoration: underline;
}
a:hover i {
    text-decoration: none;
}

 
div.post-body .content-text p, 
div.post-body .content-text h2,
section.content-text-section div p,
section.content-text-section div h2{
    padding-left: 30%;
    margin-bottom: 35px;
    margin-right: 5%;
}

div.post-body .content-text h2,
section.content-text-section div h2 {
    font-weight: 100;
    line-height: 1.4em;
    margin: 75px 0px 15px 0px;
}

div.post-body .content-text blockquote,
section.content-text-section div blockquote{
    color: #c09853;
    float: left;
    width: 25%;
    margin-top: -60px;
    border-left: 3px solid #c09853;
    font-size: 18px;
    line-height: 1.4em;
}

.archive-body  {
  margin-bottom: 20px;
  border-bottom: 1px solid #dcdce1;
}

blockquote p {
    padding: 0px !important;
    margin: 0px !important;
}

@media (max-width: 1000px) {
    div.post-body .content-text blockquote,
    section.content-text-section div blockquote  {
        display: none;   
    }
    
    div.post-body .content-text p, 
    div.post-body .content-text h2,
    section.content-text-section div p,
    section.content-text-section div h2 {
        padding-left: 5%;
    }
}
blockquote.margin_bottom_25px_mb {
    margin-bottom: 25px;
}
.hb_video_archive_single {
    margin-top: 25px;
}
.widget_wpb_widget_custom_search form {
margin: 0;
}

#toTop {
        display:none;
        text-decoration:none;
        position:fixed;
        bottom:10px;
        right:10px;
        overflow:hidden;
        width:51px;
        height:51px;
        border:none;
        text-indent:100%;
        background:url("../images/totop.png") no-repeat left top;
}

#toTopHover {
        background:url("../images/totop.png") no-repeat left -51px;
        width:51px;
        height:51px;
        display:block;
        overflow:hidden;
        float:left;
        opacity: 0;
        -moz-opacity: 0;
        filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
        outline:none;
}

.padding_a_language {
    padding: 0px 10px;
}

.hb_cloud_style {
    font-size: 10pt !important;
}

.hb_taxonomy_desc {
    margin-bottom: 45px;
}

.hb_margin-left_10 {
   margin-left: 10px; 
}

span.cursor {
    color: #42576a;
    cursor: pointer;
}








.super {
    display:none;
}

body {
    font-family: "Merriweather", Georgia, serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.9em;
    color: #1E1E1E;
}

body.custom-background {
    background-color: #FFF;
    background-image:none;
}
nav a{
    font-family: "Roboto Slab", sans-serif;
    font-weight:300;
}

.wrapper {
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    margin:0 auto;
}
/**************************************
Typography
*************************************/

h1 {
    font-family: "Merriweather", Georgia, serif;
    font-weight: 300;
    text-transform: capitalize;
    padding-top: 1em;
}

h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.3em;
    color: #484848;
    font-weight: 300;
    clear: both;
}
h3{
    line-height: 24px;
    margin: 2em 0 1em 0;
    font-size: 1.5em;
    font-family: "Roboto Slab", Georgia, serif;
    font-weight: 400;
    text-transform: capitalize;
}
.double-line{
    font-size: 1.6em;
    text-align: center;
    border-bottom: 4px double #808080;
    width: 50%;
    margin: 0px auto 1.5em;
    padding-bottom: 1em;
}
#welcome h1{
    font-family: "Merriweather",sans-serif;
    font-size: 3.5em;
    color: #FEBE32;
    font-weight: 300;
    text-transform: capitalize;
    font-style: italic;
    padding-top:0.5em;
}

#welcome h3{
    line-height: 24px;
    margin-bottom: 12px;
    font-size: 24px;
    color: #5A5A5A;
    font-family: "Roboto Slab";
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 0;
}
.intro h1{
    font-family: "Merriweather", serif;
    font-size: 3em;
    color: white;
    font-weight: 400;
    margin: 0.4em 0px;
    text-transform: capitalize;
}
.intro p{
    font-family: "Merriweather",serif;
    line-height: 1.6em;
    font-weight: 300;
    font-size: 1em;
    padding:1.2em;
}

p {
    margin-top: 0em;
    margin-bottom: 1em;
}
.summary{
    font-size: 1.2em;
    line-height: 1.8em;
    text-align: center;
    border-bottom: 4px double gray;
    width: 80%;
    margin: 0 auto  4em;
    border-top: 4px double grey;
    padding: 2em 0;
} 

#kids h1{
    padding-top:1.5em;
}
#kids .summary{
    width: 30% !important;
    padding: 0em 0px 1em 0;
    border-top: none;
    margin: 0px auto;
}

#kids h2{
    font-family: "merriweather",serif;
    font-style: italic;
    font-weight: 300;
    font-size: 0.9em;
    margin-top: -1.7em;
    text-transform: none;
    margin-bottom: 0;
}

section-padded {
    padding: 20px 0;
}

.sidebar-header{
    font-family: "Roboto Slab";
    font-weight: 300;
    color:#1E1E1E;
}
.sidebar a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.introduction{
    padding:4em 0;
}

blockquote p {
    line-height: 1.7em;
}

.bible-quote p{
    float:left;
    font-family: "Merriweather",serif;
    font-weight: 300;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.8em;
    padding: 2em;
    background-color: #efefef;
    width: 40%;
    margin: 1em;
    border: 1px solid #d1d3d3;
}

.bible-quote{
    margin: 2em 0;
}
.bible-quote:after{	
    content:" ";
    display:block;
    clear:both;	
}
.btn{
    font-family: "Roboto Slab", serif;
    font-size:1.1em;
    font-weight:300;
}
.btn-inverse{
    background-color:#51575a;
    background-image: none;
}
/********************************************
Top and Navigation
********************************************/
#masthead .navbar-inverse .navbar-inner {
    background-color:  #70ccd7;
    background-image:none;
}
#masthead .navbar-inner{
    min-height: 90px;
    padding-top: 1em;
}
#masthead .dropdown-menu {
    border-radius: 0px;
    text-shadow: none;
    font-size: 0.8em;
    padding: 1em;
    border: none;
}
#masthead .nav.compact-nav > li > a {
    font-weight: 600;
}
.dropdown-menu > li > a {
    padding: 3px 20px;
}

.navportfolio li img{
    display:none;
}
.navportfolio li{
    display:block;
}
/***************************
Sections styles
***************************/
.section-header {
    margin-bottom: 0;
}

.section-alt .section-header h1 {
    text-transform: capitalize;
}
.section-alt, .section-alt .section-header h1 {
    background-color: #F6F6F6;
}
.section-header h1 {
    font-family: "Roboto Slab", Georgia, sans-serif;
    font-weight: 300;
    margin-top: -1em;
}
li{
    padding-top:1em;
}
.lesson-description{
    background-color:#D9EFF4;
}
.intro{
    background-color:rgb(240, 240, 240);
}
.side{
    float:right;
}
.frame{
    padding:0.2em;
    border:1px solid #E6E7E8;
}
.turquoise{
    background-color:#dfeceb;
}
.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px #575757;
    -moz-box-shadow: 0 8px 6px -6px #575757;
    box-shadow: 0 8px 6px -6px #575757;
}
.video-bg{
    background-color:#413b3c;
    color:white;
}
/**************************
Portfolio
*************************/
.portfolio figure a{
    font-size:1.2em;
    font-weight:400;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    color:#1E1E1E;
}
.portfolio figure  p{
    display: none;
}
.portfolio-filters a {
    color:#1E1E1E;
    padding: 0px 6px;
    font-family: "Roboto", sans-serif;
}
/************************
Media Queries
***********************/
@media (max-width: 320px) { 
    #masthead .brand, #masthead .navbar-inner {
        padding-top: 0;
    }
    h2{
        line-height: 1.3em;
    }
    .super-hero-unit{
        display:none;
    }
    .summary{
        width:100%;
    }
    #kids .summary{
        width:100% !important;
    }
    .section-alt {
        padding-top: 0.5em;
    }
    .intro h1{
        font-size:2.5em;
    }
    .bible-quote p{
        width: 11em;
        clear:both;
    }
    .bible-quote{
        margin: 0;
    }
}
@media only screen and (min-width: 40.063em) {
    .fullwidth .container-fluid {
        max-width: 50em;
    }
    h2{
        font-size: 1.2em;
        margin: 0;
    }
    #kids .summary{
        width:80% !important;
    }
}
@media only screen and (min-width: 64.063em) {
    .fullwidth .container-fluid {
        max-width: 60em;
    }
    #kids .summary{
        width:80% !important;
    }
}





.padding_a_language {
    padding: 0px 10px;
}

















